.ideo {
    background-image: url("../images/backgrounds/ideo-header-illo.png"), url("../images/backgrounds/ideo-repeatingTile.png");
    background-repeat: no-repeat, repeat-x;
    background-position: center top, center top;
}
.ideo .branding {
    margin-top: 116px;
    margin-bottom: 30px;
}
.ideo .band-container {
    margin-top: 70px;
    height: 600px;
}

.ideo .band-container .band {
    background-color: #DDD;
    padding-top: 44px;
    padding-bottom: 20px;
}
.ideo .band-container .band img {
    margin-bottom: 30px;
}

.ideo .band .section {
    width: 930px;
    margin: 0 auto;
}
.ideo .top-30 {
    margin-top: 30px;
}

.ideo .m-c {
    margin-bottom: 50px;
}
