.process {
    background-image: url("../images/backgrounds/process.png"), url("../images/backgrounds/grid.png");
    background-repeat: no-repeat, repeat-x;
    background-position: center top, center top;
}

.main-topic.process .main-topic-content {
    margin-top: 238px;
}
