
.landing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}
.landing-content {
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.landing .landing-content .header {
    display: flex;
    align-items: center;
    padding: 18px;
    width: 68%;
    margin: 26px auto;
}
.landing-content .header .title {
    margin: 0 0 0 20px;
    line-height: 1.5em;
    white-space: nowrap;
}
.landing .landing-content .page-content {
    border-top: 2px solid #090909;
    border-bottom: 1px solid #8C8C8C;
    display: flex;
    justify-content: space-between;
    width: 68%;
    padding: 14px 0 15px;
    margin: 26px auto;
}

.landing .landing-content .page-content > div {
    font-size: 12px;
    line-height: 18px;
    flex: 0 1 30.9%;
}

.landing .landing-content .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 26px auto;
}

.landing .landing-content .navigation > div {
    flex: 1 1 33%;
}

.landing .landing-content .navigation a.navigation-link {
    position: relative;
    display: block;
    width: 88%;
    height: 11vw;
    border: 4px #FFF solid;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.09);
    margin: 10px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 104%;
}

.landing .landing-content .navigation .navigation-link .navigation-rollover {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity .25s;
    opacity: 0;
}

.landing .landing-content .navigation .navigation-link:hover .navigation-rollover {
    display: block;
    transition: opacity .25s;
    opacity: 1;
}

.process .navigation-rollover {
    background: rgba(228, 240, 224, .7) center
		url("../assets/images/navigation/process-logo.png");
    background-size: 104%;
}

.app-design .navigation-rollover {
    background: rgba(236, 224, 240, .7) center
		url("../assets/images/navigation/app-design-logo.png");
    background-size: 105%;
}

.cars .navigation-rollover {
    background: rgba(208, 212, 228, .7) center
        url("../assets/images/navigation/cars-logo.png");
    background-size: 95%;
}
.ddb .navigation-rollover {
    background: rgba(249, 245, 216, .8) center
    	url("../assets/images/navigation/ddb-logo.png");
    background-size: 95%;
}

.orbitz .navigation-rollover {
    background: rgba(219, 237, 247, .825) center
        url("../assets/images/navigation/orbitz-logo.png");
    background-size: 95%;
}
.emmis .navigation-rollover {
    background: rgba(193, 220, 220, .825) center
    url("../assets/images/navigation/emmis-logo.png");
    background-size: 95%;
}
.logos .navigation-rollover {
    background-size: 95%;
}
.ideo .navigation-rollover {
	background: rgba(244, 207, 207, .825) center
        url("../assets/images/navigation/ideo-logo.png");
    background-size: 95%;
}
.fine-art .navigation-rollover {
	background: rgba(234, 239, 213, .825) center
    url("../assets/images/navigation/fine-art-logo.png");
    background-size: 103%;
}

.process {
    background-image: url("../assets/images/navigation/process.png");
}
.app-design {
    background-image: url("../assets/images/navigation/app-design.png");
}
.cars {
    background-image: url("../assets/images/navigation/cars.png");
}
.ddb {
    background: url("../assets/images/navigation/ddb.png") center;
}
.orbitz {
    background-image: url("../assets/images/navigation/orbitz.png");
}
.emmis {
    background-image: url("../assets/images/navigation/emmis.png");
}
.logos {
    background-image: url("../assets/images/navigation/logos.png");
}
.ideo {
    background-image: url("../assets/images/navigation/ideo.png");
}
.fine-art {
    background-image: url("../assets/images/navigation/fine-art.png");
}

.social {
    padding-top: 8px;
    display: flex;
}
.social img {
    width: 18px;
    margin-right: 4px;
}

.footer {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
    font-size: 11px;
    color: #86949D;
}
