.ddb {
    background-image: url("../images/backgrounds/ddb.png");
    background-repeat: repeat-x;
}
.main-topic.ddb .main-topic-content .content-block .section {
    margin-bottom: 40px;
}
.ddb .branding {
    display: flex;
    justify-content: center;
	margin-bottom: 25;
}

.ddb .band-container {
    height: 800px;
}
.ddb .band-container .band{
    padding-bottom: 50px;
    background-image: linear-gradient(to bottom, #FFF, #FFF 50%, #FBF2CD);
}
